name: Build & Release Magisk Module

on:
  push:
    tags:
      - "v*" # Trigger by tag (Ex: v1.1.0)

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      MODULE_FILENAME_PREFIX: "nodejs-magisk"
      ZIP_NAME: ""

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Create ZIP Module
        run: |
          ZIP_NAME="${{ env.MODULE_FILENAME_PREFIX }}-${{ github.ref_name }}.zip"
          zip -r "$ZIP_NAME" . -x ".git/*" ".github/*" "update.json" "README.md" ".gitignore" "*.DS_Store"
          echo "ZIP_NAME=$ZIP_NAME" >> $GITHUB_ENV

      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ env.ZIP_NAME }}
          generate_release_notes: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
